@page "/"

<PageTitle>Velkommen</PageTitle>

<div class="home-container">
    <h1>Velkommen til din online genbrugsbutik!</h1>

    <p class="home-subtext">
        Gør en forskel for både miljøet og din pengepung ved at købe og sælge genbrug mellem hinanden.
        Find unikke fund, eller giv dine ting nyt liv hos andre!
    </p>
</div>

<div class="help-button" @onclick="ToggleHelpBox">
    <i class="fa fa-question-circle"></i>
</div>

@if (showHelpBox)
{
    <div class="help-box">
        <p>Har du spørgsmål?<br /> 
            Kontakt os på <strong>dinonlinegenbrug@gmail.com</strong></p>
        <button class="close-help" @onclick="ToggleHelpBox">×</button>
    </div>
}

@code {
    private bool showHelpBox = false;

    private void ToggleHelpBox()
    {
        showHelpBox = !showHelpBox;
    }
}