@page "/login"
@using MiniProjektGenbrug.Services.Interfaces
@inject IUserService userService
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager nav

<h3>Log ind</h3>

<input @bind="username" placeholder="Brugernavn" />
<input @bind="password" type="password" placeholder="Adgangskode" />
<button @onclick="TryLogin">Log ind</button>

<p>@message</p>

@code {
  string username;
  string password;
  string message;

  protected override async Task OnInitializedAsync()
  {
    var user = await userService.GetUserLoggedIn();
    if (user != null)
    {
      nav.NavigateTo("home");
    }
  }

  private async Task TryLogin()
  {
    var user = await userService.Login(username, password);

    if (user.Username != null)
    {
      await localStorage.SetItemAsync("user", user);
      nav.NavigateTo("/", forceLoad: true);
    }
    else
    {
      message = "Wrong Username or Password";
    }
    
  }


}