/* Generel liste formatering */
.listItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 400px;
    
    margin-bottom: 25px;
    
    border: 5px solid lightgray;
    border-radius: 10px;
    
    background: linear-gradient(to bottom, #095e6a, white);
}

li{
    list-style-type: none;
}

/* Billede og billede div */

.pictureDiv{
    height: 100%;
    width: 50%;
}

img{
    object-fit: contain;
    height: 100%;
    width: 100%;
}

/* Info Div og diverse.. */

.infoDiv{
    position: relative;
    width: 50%;
    height: 100%;
}

.buttonClass{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.statusClass{
    position: absolute;
    bottom: 10px;
    right: 100px;
}

.priceClass{
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.specsList
{
    padding-left: 0;
    position: absolute;
    bottom: 60px;
    left: 10px;
}

.productNameClass{
    font-size: 25px;
}

hr{
    border: solid 3px black;
}

.cssbuttons-io-button {
    display: flex;
    align-items: center;
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    padding: 0.7em 1.4em 0.7em 1.1em;
    color: white;
    background: #ad5389;
    background: linear-gradient(
            0deg,
            rgba(20, 167, 62, 1) 0%,
            rgba(102, 247, 113, 1) 100%
    );
    border: none;
    box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
    letter-spacing: 0.05em;
    border-radius: 20em;
    float: right;
}

.cssbuttons-io-button svg {
    margin-right: 6px;
}

.cssbuttons-io-button:hover {
    box-shadow: 0 0.5em 1.5em -0.5em #14a73e98;
}

.cssbuttons-io-button:active {
    box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}
