@page "/mineindkob"

<div class="mine-indkob-container">
    <h2>Mine indkøb</h2>

    <div class="indkob-item">
        <div class="product-info">
            <h3>Air force 1</h3>
            <p>500kr</p>
            <p>Lokale: A101</p>
            <p>Sko, hvid, 44</p>
            <p>Har valgt at sælge min airforce 1</p>
        </div>
        <div class="purchase-status">
            <p>Dato: 29/04</p>
            <p>Status: Behandler</p>
        </div>
    </div>

    <div class="indkob-item">
        <div class="product-info">
            <h3>Jeans</h3>
            <p>250kr</p>
            <p>Lokale: B102</p>
            <p>Jeans, blå, str. M</p>
            <p>Har valgt at sælge mine jeans</p>
        </div>
        <div class="purchase-status">
            <p>Dato: 19/03</p>
            <p>Status: Gennemført</p>
        </div>
    </div>
</div>